

// Glaucose (light blue)
// 567BCC

// Caramel (light brown)
// C97535

// Mantis (light green)
// 74C365

$primary: #567BCC;
$secondary: #C97535;
$danger: #EC4646;
$info:  #74C365;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
